---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import "chocolat/dist/css/chocolat.css";

const galImages = await getCollection("gallery");
---

<Layout title="Gallery | PPI Aachen">
  <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <h1 class="my-20 text-center text-7xl font-bold">Gallery</h1>
    <div
      class="overflow-hidden before:absolute before:start-1/2 before:top-0 before:-z-[1] before:size-full before:-translate-x-1/2 before:transform before:bg-[url(/polygon-bg.svg)] before:bg-cover before:bg-top before:bg-no-repeat before:opacity-50"
    >
      <div id="gallery" class="mx-auto opacity-0">
        {
          galImages.map((galItem) => (
            <a
              class="group relative block w-80 overflow-hidden rounded-lg"
              title={galItem.data.title}
              href={galItem.data.image.src}
            >
              <Image
                loading="lazy"
                src={galItem.data.image}
                alt={galItem.data.title}
                width={450}
              />
              <div class="absolute bottom-1 end-1 opacity-0 transition group-hover:opacity-100">
                <div class="flex items-center gap-x-1 rounded-lg border border-gray-200 bg-white px-2 py-1 text-gray-800">
                  <Icon name="ph:magnifying-glass" class="size-3 shrink-0" />
                  <span class="text-xs">View</span>
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<script>
  const { default: Bricks } = await import("bricks.js");
  const { default: Chocolat } = await import("chocolat");

  document.addEventListener("astro:page-load", async () => {
    const galleryElement = document.getElementById("gallery");

    if (galleryElement) {
      const instance = Bricks({
        container: "#gallery",
        packed: "data-packed",
        sizes: [
          { columns: 1, gutter: 5 },
          { mq: "768px", columns: 2, gutter: 10 },
          { mq: "1024px", columns: 3, gutter: 25 },
        ],
      });

      instance.on("pack", () => galleryElement.classList.remove("opacity-0"));
      instance.resize(true).pack();

      const elements = galleryElement.querySelectorAll("a");
      if (elements.length > 0) {
        Chocolat(elements, {});
      }
    }
  });
</script>
