---
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import StoreItem from "@/components/StoreItem.astro";

import tShirt from "@/assets/store/t-shirt.jpg";
import kemben from "@/assets/store/kemben.jpg";
import totebag1 from "@/assets/store/totebag-1.jpg";
import totebag2 from "@/assets/store/totebag-2.jpg";
import totebag3 from "@/assets/store/totebag-3.jpg";
---

<Layout title="Store | PPI Aachen">
  <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <div
      class="overflow-hidden before:absolute before:start-1/2 before:top-0 before:-z-[1] before:size-full before:-translate-x-1/2 before:transform before:bg-[url(/polygon-bg.svg)] before:bg-cover before:bg-top before:bg-no-repeat before:opacity-50"
    >
      <div class="flex flex-col lg:flex-row lg:items-start">
        <div
          class="mb-12 flex w-full flex-col p-6 text-center lg:mb-0 lg:w-1/3 lg:items-end lg:border-r-8 lg:border-r-slate-200 lg:text-right"
        >
          <h1 class="text-5xl font-bold text-accent">PPI Merch</h1>
          <div class="mt-4">order through our instagram:</div>
          <a href="https://www.instagram.com/aachen.studio/" target="”_blank”">
            <Icon
              name="ph:instagram-logo"
              class="inline size-5"
              aria-hidden="true"
            />
            @aachen.studio
          </a>
        </div>
        <div class="flex w-full flex-row flex-wrap lg:w-2/3">
          <div class="w-full px-6 pb-6 md:w-1/2">
            <StoreItem name="T-Shirt" image={tShirt} price={12} type="t-shirt">
              "hergestellt in Indonesien" T-Shirt made 100% from cotton with
              oversized fits and front embroidery. Presents the classic,
              timeless, colorful at once.
            </StoreItem>
          </div>
          <div class="w-full px-6 pb-6 md:w-1/2">
            <StoreItem name="Kemben" image={kemben} price={20} type="t-shirt">
              An Indonesian traditional clothing commonly used by women. In our
              KEMBEN we use BATIK as our textile since it is an ancient fabric
              tradition of Indonesia.
            </StoreItem>
          </div>
          <div class="w-full px-6 pb-6">
            <StoreItem
              name="Totebag"
              images={[totebag1, totebag2, totebag3]}
              price={15}
            >
              PPI Aachen Totebag
            </StoreItem>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
