---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> & {
  ratio?: number;
};

const { ratio = 1 / 1, ...rest } = Astro.props;
---

<div class="ratio-wrapper" {...rest}>
  <slot />
</div>

<style define:vars={{ ratio }}>
  .ratio-wrapper {
    @apply relative w-full;
    padding-bottom: calc(100% / var(--ratio));
  }
  .ratio-wrapper > :global(*) {
    @apply absolute inset-0;
  }
  .ratio-wrapper > :global(img),
  .ratio-wrapper > :global(video) {
    @apply h-full w-full object-cover;
  }
</style>
