---
import { Image } from "astro:assets";
import logo from "@/assets/logo-ppiaachen.png";
import { links, hasChildren } from "@/lib/nav-links";
---

<footer>
  <div class="mx-auto mt-10 flex max-w-7xl flex-col">
    <div class="hidden flex-row items-center justify-between md:flex">
      <div class="px-8 pb-4">
        <Image
          loading="lazy"
          width={100}
          height={100}
          src={logo}
          alt="Logo PPI Aachen."
        />
      </div>
      <ul
        class="flex flex-row items-center text-xs font-light uppercase tracking-widest"
      >
        {
          links.map((link) =>
            !hasChildren(link) ? (
              <li class="hover:text-link/60 mx-4 flex items-center gap-2 p-1 tracking-widest text-accent transition-colors duration-300 md:p-4">
                <a href={link.href}>{link.text}</a>
              </li>
            ) : null
          )
        }
      </ul>
    </div>
    <div
      class="flex flex-row border-t-[1px] border-t-black px-10 py-4 text-xs font-light tracking-wide text-accent"
    >
      Copyright © 2022. Perhimpunan Pelajar Indonesia Aachen.
    </div>
  </div>
</footer>
